@import url('reset.css');
/* OBLIGATOIRE POUR FONCTIONNEMENT JAVASCRIPT */
/* organiser le header */


/* positionner les blocs nav et main 

li {
    list-style: square;
    margin-left: 1em;
}
*/
/* au dessus de chaque article, navigation rapide */
/* structurer un peu les titres en leur donnant une importance typographique croissante 

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
    padding: 2em 0 2em 0;
}

h3 {
    font-size: 1.4em;
}

*/
/* Distinguer un peu les sections et articles */

article p,
article li {
    font-size: 1.1em;
    margin: auto;
    line-height: 1.3em
}

article li {
    margin-left: 2em;
}
/* traitement mobile puis normal */

article h3 {
    display: inline-block;
    width: 100%;
}

@media screen and ( min-width: 640px) {
    article h3 {
        display: inline-block;
        width: 60%;
    }
}
/* colorier les blocs principaux*/