@import url('reset.css');
/* OBLIGATOIRE POUR FONCTIONNEMENT JAVASCRIPT */
/* organiser le header */

header {
    display: relative;
}

header .logo,
header .titre {
    vertical-align: top;
    display: inline-block;
}
/* positionner les blocs nav et main 

li {
    list-style: square;
    margin-left: 1em;
}
*/
/* au dessus de chaque article, navigation rapide */

.next-top {
    display: block;
    width: 30%;
    float: right;
    background: rgba(80, 80, 80, 0.3);
}

.next {
    width: 50%;
    margin: 5em auto 5em auto;
    vertical-align: middle
}

.top {
    width: 50%;
    margin: 5em auto 5em auto;
    text-align: center
}

@media screen and ( min-width: 640px) {
    .next-top {
        display: block;
        width: 100%;
        background: rgba(80, 80, 80, 0.3);
    }
    .next {
        width: 100%;
        margin: 0;
        text-align: left
    }
    .top {
        width: 100%;
        margin: 0;
        text-align: left
    }
}
/* structurer un peu les titres en leur donnant une importance typographique croissante */

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
    padding: 2em 0 2em 0;
}

h3 {
    font-size: 1.4em;
}
/* Distinguer un peu les sections et articles */

article {
    position: relative;
    width: 100%;
    background: rgba(100, 100, 100, 0.3);
}

article p,
article li {
    font-size: 1.1em;
    margin: auto;
    line-height: 1.3em
}

article li {
    margin-left: 2em;
}
/* traitement mobile puis normal */

article h3 {
    display: inline-block;
    width: 100%;
}

@media screen and ( min-width: 640px) {
    article h3 {
        display: inline-block;
        width: 60%;
    }
}
/* colorier les blocs principaux*/