body {
    font-family: 'Arial', 'Sans-serif'
}

a,
a:link {
    color: #F00;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:visited {
    color: #D66;
}

@media screen and (min-width: 960px) {
    /* Position et style de la partie header */
    
    header {
        position: relative;
        width: 960px;
        margin: auto;
    }
    header img {
        display: block;
    }
    header h1 {
        font-size: 1.8em;
        font-weight: normal;
        margin: 1em 0.5em 1em 0.5em;
    }
    header #numero {
        font-size: 0.8em;
    }
    /* Barre d'outils et d'accès */
    
    #outils {
        display: inline-block;
        position: absolute;
        background: #F00;
        color: #FFF;
        height: 24px;
        width: 12em;
        top: 0;
        right: 0
    }
    #outils a {
        color: #FFF;
        line-height: 1.3em;
        margin-left: 0.4em;
    }
    .nav-icon {
        height: 24px;
        width: 24px;
        display: inline-block;
        float: right;
        background: #000;
    }
    #icon-contrast {
        height: 16px;
        width: 16px;
        margin: 0 4px 0 4px;
        background: url('../img/contrast.svg') no-repeat;
    }
    button {
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
        background: #000;
    }
    .nav-icon span {
        visibility: hidden;
    }
    /* Position et style de la partie page principale */
    
    #page {
        border-top: 1px #F00 solid;
        mrgin-bottom: 100px;
    }
    /* Position et style de la partie menu flottant gauche */
    
    nav {
        display: block;
        float: left;
        width: 20%;
    }
    #sommaire {
        position: relative;
        display: block;
        left: 1em;
        top: 2em;
    }
    #sommaire a {
        display: block;
        color: #000;
        text-decoration: none;
        line-height: 1.5em;
        padding: 0em 1em 0em 2.4em;
        border: 2px #fff solid;
    }
    #sommairefixe li {
        list-style: none;
        line-height: 1.5em;
    }
    #sommaire .active {
        /* lien de menu entouré quand article à l'écran */
        
        display: block;
        background-color: #cecece;
        border: 2px solid #c1c1c1;
        border-radius: 25px;
    }
    .lien-sommaire {
        display: inline-block;
        background: url('../img/home.svg') no-repeat;
        background-position: 0px center;
    }
    .lien-edito {
        background: url('../img/edito.svg') no-repeat;
        background-position: 0px center;
    }
    .lien-article {
        background: url('../img/article.svg') no-repeat;
        background-position: 0px center;
    }
    /* Position et style de la partie main de contenu principal */
    
    main {
        display: block;
        width: 75%;
        float: right
    }
    /* Position et style des articles */
    
    article h1 {
        padding-top: 1.5em
    }
    .next-top {
        text-align: right;
        display: block;
        line-height: 30px;
        width: 100%;
        background: #FFF;
    }
    .next-top a {
        margin-right: 1em;
        padding-left: 30px;
    }
    .lien-proch-article {
        display: inline-block;
        background: url('../img/next.svg') no-repeat;
        background-position: 0px center;
    }
    /* Position et style du footer */
    
    footer {
        border-top: 40px #F00 solid;
        padding: 0.2em 1em 0.2em 1em;
        text-align: center;
        /* clear sur le footer pour qu'il se mette en bas de main et non en bas de nav */
        
        clear: both
    }
}